* {
    margin: 0;
    padding: 0;
}
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    color: black;
    letter-spacing: 0.03em;
}
.button-primary:hover ,
.button-primary:active {
    cursor: pointer;
}
img {
    display: block;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.main-footer {
    background-color: #2F303A;
    color: black;
    padding: 60px 0;
}
.main-first {
    background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)), url("../images/baner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color:#2F303A;
    color: #FFFFFF;
    text-align: center;
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
}
.main-first-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 696px;
}
.header-menu {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    cursor: pointer;
    color: #2196f3;
}
link:hover {
    text-decoration-color: #2196F3;
}
h1 {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.03em;
}
.container-first {
    padding-top: 200px;
    padding-bottom: 280px;
    max-width: 696px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.buttons:hover ,
.buttons:active,
.buttons:focus {
    cursor: pointer;
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
ul {
    list-style-type: none;
    letter-spacing: 0.03em;
}
.descriptions-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.descriptions-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
button {
    color: #FFFFFF;
    background-color: #2196F3;
    border: #2196F3;
}
.buttons {
    color: #212121;
    background-color:#F5F4FA; 
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
p {
    color: #757575;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}
.work-text {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 50px;
    margin-top: -94px;
}
.work-list {
    list-style-type: none;
    display: flex;
    column-gap: 30px;
    justify-content: space-around;
}
.team {
    text-align: center;
    background: #F5F4FA;
}
.team-list {
    list-style-type: none;
    display: flex;
    column-gap: 30px;
    justify-content: space-around;
}
.team-item {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}
.fig-team {
    padding: 30px 0;
}
.team-text {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 50px;
}
.team-name {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}
.team-job {
    color: #757575;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.portfolio-name {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.portfolio-type {
    color: #757575;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    padding-top: 0;
}
.portfolio-buttons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding-bottom: 50px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 30px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-active:after {
    content: "";
    position: absolute;
    background: var(--brand-color-blue);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    margin-top: 28px;
    display: block;
}
.portfolio-images {
    display: block;
    text-decoration: none;
}
.portfolio-images:hover,
.portfolio-images:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio-figa {
    border-bottom: 1px solid  rgba(238, 238, 238, 1);
    border-left: 1px solid  rgba(238, 238, 238, 1);
    border-right: 1px solid  rgba(238, 238, 238, 1);
    padding: 20px 24px 20px 24px;
}
.address-item {
    font-style: normal;
    color: #FFFFFF;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}
.links {
    color:#FFFFFF99;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.links:hover,
.links:active,
.links:focus {
    cursor: pointer;
    color:#2196F3;
}
.footer-wrap {
    display: flex;
    align-items: baseline;
}
.menu-links {
    text-decoration: none; 
    letter-spacing: 0.03em;
    padding-top: 32px;
    padding-bottom: 32px;
}
.social-links {
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.link {
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.17;
    display: flex;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover ,
.link:active,
.link:focus { 
    color: #2196F3;
}
.container-port {
    position: relative;
    overflow: hidden;
}
.container-port:hover .overlay,
.container-port:active .overlay,
.container-port:focus .overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-images:hover .overlay,
.portfolio-images:focus .overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.top-title {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

}
.title {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
}
.studio {
    color: #FFFFFF;
    font-family: Raleway;
    text-decoration: none;
}
.studios {
    color: #212121;
    font-family: Raleway;
    text-decoration: none;
}
li {
    letter-spacing: 0.03em;
    margin-bottom: 9px;
}
.button-primary {
    line-height: 1.87;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding-top: 40px;
    padding: 10px 42px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.menu-link {
    text-decoration: none;
    color: #212121;
    letter-spacing: 0.02em;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.15;
    padding-top: 32px;
    padding-bottom: 32px;
}
.menu-link:hover,
.menu-link:active,
.menu-link:focus {
    cursor: pointer;
    color: #2196F3;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.menu-contact {
    display: flex;
    align-items: center;
    column-gap: 93px;
}
.menu {
    display: flex;
    align-items: center;
}
.list {
    display: flex;
    column-gap: 46px;
    list-style-type: none;
}
.desc-list {
    list-style-type: none;
    display: flex;
    column-gap: 30px;
}
.con-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.descriptions {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
}
.clients-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}
.clients {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
}
.clients-item {
    list-style: none;
}
.clients-icon {
    fill: currentColor;
}
.clients-link {
    display: flex;
    border: 1px solid currentColor;
    color: #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.clients-link:hover,
.clients-link:focus {
    color: #2196F3;
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196F3;
}
.join-us {
    margin-left: 70px;
}
.join-us-text {
    color: #F5F4FA;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    width: 113px;
    height: 16px;
}
.com-footer {
    display: flex;
    column-gap: 10px;
}
.com-link-footer {
    fill: #FFFFFF;
    background-color: #ffffff10;
    border-radius: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
  }
.com-link-footer:hover,
.com-link-footer:focus {
    fill: #FFFFFF;
    background-color: #2196F3;
    border-radius: 50% 50%;
    cursor: pointer;
}
.icon {
    fill: currentColor;
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 
.icon-desc {
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    padding: 6px;
    margin: 8px;
    position: absolute;
    color: var(--brand-color-black);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--brand-color-white);
  }
.icon-modal-close:hover {
    cursor: pointer;
    color: var(--brand-color-blue);
    border-color: var(--brand-color-blue);
}
.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: 1s ease-out;
}
.is-hidden .modal {
    transform: scale(0);
    opacity: 0;
}
.community {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 16px;
}
.com-links {
    fill: #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.com-links:hover,
.com-links:focus {
    fill: #F5F4FA;
    background-color: #2196f3;
}
.backdrop {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.list .link-active {
    color: var(--brand-color-blue);
}